* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.nav_container {
  position: relative;
  max-width: 1300px;
  margin: 10px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav_container .logo {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  width: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  position: relative;
  z-index: 20;
}

.nav_container .title {
  font-size: 14px;
  background-color: #eb0c0c;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  text-align: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
  z-index: 20;
}

.nav_container .title span {
  margin-left: 5px;
}

.nav_container .title:hover {
  -webkit-box-shadow: -1px 1px 2px 2px #612727;
          box-shadow: -1px 1px 2px 2px #612727;
}

.nav_container .title-eng {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}

.nav_container .flag {
  width: 30px;
  border-radius: 10px;
  margin-top: 8px;
  margin-left: 4.5rem;
  cursor: pointer;
  position: relative;
  z-index: 20;
}

.nav_container .flag-rus {
  margin-left: 6rem;
}

.nav_container .language {
  width: 100px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #c9c5c5;
  padding: 3px 10px;
  border-radius: 5px;
  z-index: 20;
}

.nav_container .language .flag-style {
  width: 30px;
  border-radius: 10px;
}

.hidden {
  display: none !important;
}

.rules {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #fff;
  font-size: 15px;
  padding: 1rem 2rem;
  line-height: 1.6;
  height: 80vh;
  overflow-y: scroll;
  -webkit-transform: translateX(scroll);
          transform: translateX(scroll);
  z-index: 30;
}

.rules .rules-title {
  position: absolute;
  background: none;
  top: 0;
  text-align: center;
  margin-top: 10px;
  z-index: 30;
}

.rules .close-rules {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
  background: none;
  border: none;
  font-size: 2rem;
  width: 104%;
  text-align: end;
  cursor: pointer;
}

.rules .close-rules:focus {
  outline-style: none;
}

@media screen and (max-width: 850px) {
  .rules {
    width: 100%;
    height: 100vh;
  }
}

.rules .download {
  text-decoration: none;
  color: #068d06;
  display: block;
  text-align: end;
}

.rules .billingual {
  text-transform: uppercase;
}

.rules-eng {
  font-family: "Roboto", sans-serif;
}

.rules-eng .rules-title-eng {
  text-transform: uppercase;
  font-weight: 700;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.8);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  z-index: 20;
}

.form {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  z-index: 10;
}

.form .user {
  font-size: 60px;
  position: relative;
}

.form .form-title {
  margin: 1rem 0 2rem 0;
  letter-spacing: 3px;
  position: relative;
}

.form .form-title-eng {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}

.form .input-div {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.form .input-div .input-box {
  position: relative;
}

.form .input-div .input-box .input {
  font-size: 16px;
  color: #fff;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(173, 172, 172, 0.2);
  border-radius: 5px;
  background: none;
  outline: none;
  margin-bottom: 30px;
  display: block;
  padding: 20px 30px 5px 30px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -moz-appearance: textfield;
}

.form .input-div .input-box .input:focus + .label-name .content-name,
.form .input-div .input-box .input:valid + .label-name .content-name {
  -webkit-transform: translateY(-150%);
          transform: translateY(-150%);
  font-size: 12px;
  color: #fff;
}

.form .input-div .input-box .input:focus + .label-name::after,
.form .input-div .input-box .input:valid + .label-name::after {
  -webkit-transform: translate(0%);
          transform: translate(0%);
}

.form .input-div .input-box .input:focus, .form .input-div .input-box .input:valid {
  border: 1px solid #4eb2ec;
}

.form .input-div .input-box input[type="number"]::-webkit-inner-spin-button,
.form .input-div .input-box input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form .input-div .input-box label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #c9c5c5;
  text-align: left;
  padding-left: 2rem;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
  pointer-events: none;
}

.form .input-div .input-box label .content-name {
  position: absolute;
  bottom: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.form .input-div .input-box label .content-name-eng {
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
}

.form .input-div .input-box .active {
  position: absolute;
  left: 0;
  top: 0;
  text-align: left;
  padding-left: 5px;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media screen and (max-width: 320px) {
  .form .input-div .input-box .active {
    padding-right: 0;
    padding-left: 10px;
  }
}

.form .input-div .btn {
  background: #068d06;
  border-radius: 10px;
  letter-spacing: 2px;
  border: none;
  color: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding: 15px 25px;
  font-size: 1rem;
  font-family: "BPG Nino Mtavruli", sans-serif;
  cursor: pointer;
}

.form .input-div .btn:hover {
  background-color: #057e05;
}

.form .input-div .btn:focus {
  outline-style: none;
}

.form .input-div .btn-eng {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  max-width: 1300px;
  height: 80vh;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  z-index: 5;
}

.icons .location {
  margin-right: 1rem;
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
  position: relative;
  z-index: 20;
  animation: jump 1s ease-in-out alternate-reverse infinite;
}

@-webkit-keyframes jump {
  0% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
  100% {
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem);
  }
}

@keyframes jump {
  0% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
  100% {
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem);
  }
}

.map {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 20;
}

@media screen and (max-width: 850px) {
  .map {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@media screen and (max-width: 600px) {
  .map {
    width: 100%;
    overflow-x: hidden;
  }
}

.map .close-map {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translateY(-2rem);
          transform: translateY(-2rem);
  background: none;
  border: none;
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
  z-index: 20;
}

@media screen and (max-width: 600px) {
  .map .close-map {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    padding-right: 5px;
    color: black;
  }
}

.map .close-map:focus {
  outline-style: none;
}

body {
  font-family: "BPG Nino Mtavruli", sans-serif;
  overflow: hidden;
}

body .header-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  overflow: -moz-hidden-unscrollable;
  z-index: 1;
}

body .header-video video {
  min-width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

body .header-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(51, 51, 51, 0.6);
  z-index: 1;
}
/*# sourceMappingURL=style.css.map */